-# coding: utf-8
!!!
%html(xml:lang='en' lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %meta(content='text/html;charset=UTF-8' http-equiv='content-type')
    %title="抽奖机器人"
    %link{:href => "/screen.css", :rel =>"stylesheet", :type => "text/css", :media => "screen" }
  %body
    %a{:href => (session[:atoken] ? "/logout" : "/login")}=(session[:atoken] ? "logout" : "login")
    = yield
